@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@400;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  padding: 20px 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(97, 97, 97, 0.75);
          box-shadow: 0px 2px 5px 0px rgba(97, 97, 97, 0.75);
}

header .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .row img {
  max-width: 200px;
}

h1, .title-1 {
  font-size: 3.5rem;
  font-family: "Lora", serif;
  margin-bottom: 20px;
}

h2 {
  font-family: "Lora", serif;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

section {
  padding: 80px 0;
}

.underline {
  text-decoration: underline;
}

.btn {
  border-radius: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #efefef;
  width: 280px;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin: 0 auto;
}

.btn img {
  max-width: 32px;
}

.btn:hover {
  color: #efefef;
}

.whatsapp {
  background-color: #36b354;
}

.whatsapp:hover {
  background-color: #1e824c;
}

.list-1 {
  list-style: none;
  font-size: 2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin: 0;
}

.list-1 li:before {
  content: "- ";
}

.intro {
  margin-top: 78px;
  padding: 100px 0;
  background: url("../img/bg.jpg") no-repeat center center/cover;
  color: #efefef;
}

.intro .btn {
  background: #ff5e00;
}

.intro iframe {
  width: 100%;
  height: 320px;
}

.qualidade .icon {
  margin: 0 auto 20px;
  display: block;
}

.qualidade h1, .qualidade h2 {
  color: #ff5e00;
  text-align: center;
}

.grafico-enem {
  background-color: #e5f1f9;
}

.grafico-enem .graph-container {
  margin-bottom: 20px;
}

.grafico-enem .graph-container p {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.grafico-enem .graphbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grafico-enem .graphbar .graph-value {
  font-weight: bold;
  font-size: 2rem;
}

.grafico-enem .graphbar .graph {
  height: 30px;
  border-radius: 20px;
}

.grafico-enem .graphbar .graph1 {
  width: 90%;
  background-color: #FFC734;
}

.grafico-enem .graphbar .graph2 {
  width: 70%;
  background-color: #5B36E2;
}

.grafico-enem .graphbar .graph3 {
  width: 67%;
  background-color: #ff5e00;
}

.grafico-enem .graphbar .graph4 {
  width: 60%;
  background-color: #A3CF44;
}

.grafico-enem .graphbar .graph5 {
  width: 50%;
  background-color: #8CE1F9;
}

.classes {
  background-color: #00f;
  color: #efefef;
}

.classes h1 {
  margin-bottom: 40px;
}

.classes .card {
  color: #0a0a0a;
  border-radius: 20px;
  border: 0;
}

.classes .card .card-title {
  padding: 20px 0;
  text-align: center;
  background-color: #ff5e00;
  color: #efefef;
  border-radius: 20px 20px 0 0;
  font-weight: bold;
}

.classes .card .card-text {
  padding: 20px;
}

.depoimentos iframe {
  width: 100%;
  height: 320px;
  margin-bottom: 20px;
}

.publico {
  background-color: #e5f1f9;
}

.publico h1, .publico .title-1 {
  color: #1170CA;
}

.garantia {
  background-color: #00f;
}

.garantia .selo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.garantia .selo img {
  max-width: 350px;
}

.garantia .card {
  background-color: #efefef;
  color: #0a0a0a;
  padding: 20px;
  border-radius: 20px;
}

.garantia .card .card-title {
  margin-bottom: 20px;
}

.garantia .card .card-text {
  line-height: 2rem;
}

.cto-1 {
  background: url("../img/dots.svg");
  background-size: 30px 30px;
}

.cto-1 .card {
  background-color: #FFE885;
  padding: 40px;
  border-radius: 20px;
  border: 0px;
  -webkit-transform: translate(100px, 50px);
          transform: translate(100px, 50px);
  z-index: 20;
}

.cto-1 .card .card-title {
  font-size: 2.5rem !important;
}

.cto-1 .card .card-text {
  font-weight: bold;
  color: #ff5e00;
}

.cto-1 img {
  width: 100%;
  border-radius: 20px;
}

.diferencial {
  padding: 0;
}

.diferencial .frase-impacto {
  padding: 40px 0;
  background-color: #e5f1f9;
}

.diferencial .diferencial-qualidades {
  padding: 40px 0;
  background-color: #00f;
  color: #efefef;
  font-size: 1.5rem;
}

.cto-2 ul {
  list-style: none;
  font-size: 2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.cto-2 ul li:before {
  content: "\2714";
  color: green;
}

.cto-2 .attention {
  margin-top: 40px;
  background-color: #cf000f;
  color: #efefef;
  font-size: 2rem;
  font-weight: bold;
  padding: 60px;
  border-radius: 20px;
}

.cto-3 {
  background-color: #ff5e00;
  color: #efefef;
}

.main-footer {
  padding: 80px 0;
  background-color: #e5f1f9;
}

.main-footer iframe {
  width: 100%;
  height: 350px;
}

.main-footer .dados-escola img {
  max-height: 70px;
  margin-bottom: 20px;
}

.main-footer .dados-escola ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  font-weight: bold;
  padding: 0;
}

@media (max-width: 768px) {
  body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }
  h1, .title-1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
  section {
    padding: 20px 0;
  }
  .btn {
    font-size: 1.25rem;
  }
  .list-1 {
    font-size: 1.3rem;
  }
  .intro {
    margin-top: 78px;
    padding: 20px 0;
    background: url("../img/bg.jpg") no-repeat center center/cover;
    color: #efefef;
  }
  .intro .btn {
    background: #ff5e00;
    margin-bottom: 20px;
  }
  .intro iframe {
    width: 100%;
    height: 240px;
  }
  .grafico-enem .graph-container {
    margin-bottom: 20px;
  }
  .grafico-enem .graph-container p {
    font-size: 1.25rem;
  }
  .grafico-enem .graph-container .graph1 {
    width: 90%;
  }
  .grafico-enem .graph-container .graph2 {
    width: 60%;
  }
  .grafico-enem .graph-container .graph3 {
    width: 57%;
  }
  .grafico-enem .graph-container .graph4 {
    width: 50%;
  }
  .grafico-enem .graph-container .graph5 {
    width: 40%;
  }
  .grafico-enem .graphbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grafico-enem .graphbar .graph-value {
    font-weight: bold;
    font-size: 1.25rem;
  }
  .grafico-enem .graphbar .graph {
    height: 25px;
    border-radius: 20px;
  }
  .classes {
    background-color: #00f;
    color: #efefef;
  }
  .classes h1 {
    margin-bottom: 40px;
  }
  .classes .card {
    margin-bottom: 25px;
  }
  .depoimentos iframe {
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
  }
  .publico .list-1 {
    margin-bottom: 20px;
  }
  .garantia .selo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .garantia .selo img {
    max-width: 200px;
  }
  .garantia .card {
    padding: 20px;
    margin-bottom: 20px;
  }
  .garantia .card .card-title {
    margin-bottom: 20px;
  }
  .garantia .card .card-text {
    line-height: 1.5rem;
  }
  .cto-1 .card {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .cto-1 .card .card-title {
    font-size: 1.75rem !important;
  }
  .diferencial .frase-impacto {
    padding: 20px 0;
  }
  .diferencial .diferencial-qualidades {
    padding: 20px 0;
    font-size: 1.3rem;
  }
  .cto-2 ul {
    font-size: 1.5rem;
  }
  .cto-2 .attention {
    margin-top: 20px;
    font-size: 1.75rem;
    padding: 30px;
    border-radius: 20px;
  }
  .main-footer {
    padding: 20px 0;
  }
  .main-footer iframe {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */