@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@400;700&display=swap');

$yellow: #FFC734;
$orange: #ff5e00;
$purple: #5B36E2;
$royalblue: #00f;
$darker-blue: #1170CA;
$light-blue: #e5f1f9;
$green: #A3CF44;
$bluesky: #8CE1F9;

body{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

header{
    position: fixed;
    top:0;
    width: 100%;
    background: #fff;
    padding:20px 0;
    z-index: 999;
    display: flex;
    box-shadow: 0px 2px 5px 0px rgba(97,97,97,0.75);
    .row {
        justify-content: center;
        img{
            max-width: 200px;
        }
    }
    
}

h1, .title-1{
    font-size: 3.5rem;
    font-family: "Lora", serif;
    margin-bottom: 20px;
}

h2{
    font-family: "Lora", serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

section{
    padding: 80px 0;
}

.underline{
    text-decoration: underline;
}

.btn{
    border-radius: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color:#efefef;
    width:280px;
    font-size: 1.5rem;
}

.whatsapp{
    background-color: #36b354;
}

.list-1{
    list-style: none;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
    li:before{
        content: "- ";
    }
}

.intro{
    margin-top: 78px;
    padding: 100px 0;
    background: url("../img/bg.jpg") no-repeat center center/cover;
    color: #efefef;

    .btn{
        background: $orange;
    }

    iframe{
        width: 100%;
        height: 320px;
    }
}

.qualidade{


    h1, h2{
        color: $orange;
        text-align: center;
    }
}

.grafico-enem{
    background-color: $light-blue;
    .graph-container{
        margin-bottom: 20px;
        p{
            margin-bottom: 0;
            font-weight: bold;
            font-size: 1.5rem;
        }
    }
    .graphbar{
        display: flex;
        flex-direction: row;
        gap:20px;
        align-items: center;
        .graph-value{
            font-weight: bold;
            font-size: 2rem;
        }
        .graph{
            height: 30px;
            border-radius: 20px;
        }
        .graph1{
            width: 90%;
            background-color: $yellow;
        }
        .graph2{
            width: 70%;
            background-color: $purple;
        }
        .graph3{
            width: 67%;
            background-color: $orange;
        }
        .graph4{
            width: 60%;
            background-color: $green;
        }
        .graph5{
            width: 50%;
            background-color: $bluesky;
        }
    }
}

.classes{
    background-color: $royalblue;
    color: #efefef;    
    h1{
        margin-bottom: 40px;
    }
    .card{
        color: #0a0a0a;
        border-radius: 20px;
        border: 0;
        .card-title{
            padding: 20px 0;
            text-align: center;
            background-color: $orange;
            color: #efefef;
            border-radius: 20px 20px 0 0;
            font-family: "Roboto", sans-serif;
            font-weight: bold;
        }
        .card-text{
            padding: 20px;
        }
    }
}

.depoimentos{
    iframe{
        width: 100%;
        height: 320px;
        margin-bottom: 20px;
    }
}

.publico{
    background-color: $light-blue;
    h1, .title-1{
        color: $darker-blue;
    }
}

.garantia{
    background-color: $darker-blue;

    .selo{
        justify-content: center;
        img{
            max-width: 350px;
        }
        margin-bottom: 80px;
    }

    .card{
        background-color: $royalblue;
        color: #efefef;
        padding: 20px;
        border-radius: 20px;

        .card-title{
            margin-bottom: 20px;
        }

        .card-text{
            line-height: 2rem;
        }
    }
}

.cto-1{
    background:  url("../img/dots.svg");
    background-size: 30px 30px;
    .card{
        background-color: #FFE885;
        padding: 40px;
        border-radius: 20px;
        border: 0px;
        transform: translate(100px, 50px);
        z-index: 20;
        .card-title{
            font-size: 2.5rem !important;
        }
        .card-text{
            font-weight: bold;
            color: $orange;
        }
    }
    img{
        width:100%;
        border-radius: 20px;
    }
}

.diferencial{
    padding: 0;    
    .frase-impacto{
        padding: 40px 0; 
        background-color: $light-blue;
    }
    .diferencial-qualidades{
        padding: 40px 0; 
        background-color: $darker-blue;
        color: #efefef;
        font-size:1.5rem;
    }
}

.cto-2{
    ul{
        list-style: none;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        gap: 20px;
        li:before{
            content: "\2714";
            color: green;
        }
    }

    .attention{
        margin-top: 40px;;
        background-color: #cf000f;
        color: #efefef;
        font-size: 2rem;
        font-weight: bold;
        padding: 60px;
        border-radius: 20px;
    }
}

.cto-3{
    background-color: $orange;
    color: #efefef;
    h1{
        font-family: "Roboto", sans-serif;
        font-weight: bold;
    }
}